.lando.local.yml

vendor

docroot/core
docroot/modules/contrib
docroot/themes/contrib

# Ignore configuration files that may contain sensitive information.
docroot/sites/*/settings*.php
docroot/sites/*/services*.yml

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private
